.day-details-wrapper {
  position: absolute;
  width: 70%;
  min-height: 89%;
  background: rgb(79, 79, 79);
  background: -moz-linear-gradient(
    270deg,
    rgba(79, 79, 79, 1) 25%,
    rgba(33, 33, 33, 1) 45%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(79, 79, 79, 1) 25%,
    rgba(33, 33, 33, 1) 45%
  );
  background: linear-gradient(
    270deg,
    rgba(79, 79, 79, 1) 25%,
    rgba(33, 33, 33, 1) 45%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f4f4f",endColorstr="#212121",GradientType=1);
  top: 10%;
  left: 15%;
  right: 15%;
  z-index: 1;
  padding: 10px;
  border: 2px solid white;

  .top-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    h2 {
      width: 100%;
      text-align: center;
    }

    img {
      height: auto;
      width: 30px;
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }

  .tasks-wrapper {
    width: 90%;
    margin: 40px 5%;
    display: flex;

    .tasks {
      width: 60%;
      margin-right: 5%;
    }

    .actions-wrapper {
      width: 35%;

      .types {
        display: flex;
        width: 100%;
        position: relative;

        p {
          padding: 5px 10px;
          border: 1px solid white;
          cursor: pointer;
          width: 50%;
        }

        .choosed {
          background-color: white;
          color: black;
        }
      }
    }
  }
}
